#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

fieldset, textarea {
  padding: .5rem;
  margin: .5rem 0;
  border: 1px solid #ccc;
  width: 100%;
}

td, th {
  text-align: left;
}

th {

}

.App {
  max-width: 760px;
  margin: auto;
}

.MainMenu {
  width: 100%;
  display: flex;
  margin: 0 0 2rem;
  padding: 0;
}

.MainMenu li {
  list-style: none;
  margin: 1rem;
}
.MainMenu li:nth-of-type(1) {
  margin-left: 0;
}

.ReviewControls {
  max-width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #cccccc;
}

.ReviewControls {
  text-align: right;
}

button {
  margin: 1rem auto;
  width: 100%;
  padding: .5rem;
  font-weight: bold;
}

:checked + label {
  font-weight: bold;
}

.error {
  font-weight: bold;
  color: red;
}
